# Manipulación de Datos
pandas>=2.0.0
numpy>=1.24.0
joblib>=1.3.0

# Preprocesamiento de Lenguaje Natural
nltk>=3.8.1

# Machine Learning y Reducción de Dimensionalidad
scikit-learn>=1.3.0
hdbscan>=0.8.33

# Modelos de Lenguaje (Vectores Semánticos)
sentence-transformers>=2.2.2

# Visualización Interactiva y Grafos
plotly>=5.18.0
networkx>=3.2.0